main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
tr {
  height: 2rem;
  background-color: transparent;
  transition: background-color 0.5s;
}
table > tbody > tr:hover {
  background-color: #e45e04;
}

th,
td {
  width: 20rem;
  text-align: center;
}

button:hover {
  background-color: #e45e04;
}
section > h2,
article > h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #e45e04;
}
