/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
} */
tr {
  height: 2rem;
  background-color: transparent;
  transition: background-color 0.5s;
}
table > tr:hover {
  background-color: #e45e04;
}

th,
td {
  width: 20rem;
  text-align: center;
}
